In [1]:
print("Power Co")

Power Co

In [2]:
FILES_PATH = "Files"

In [11]:
import pandas as pd
training_data = pd.read_csv("files/ml_case_training_data.csv")
training_data.head()

,id,activity_new,campaign_disc_ele,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_first_activ,...,forecast_price_pow_p1,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max
0,0002203ffbb812588b632b9e628cc38d,NaN,NaN,foosdfpfkusacimwkcsosbicdxkicaua,22034,0,3084,01/19/10,02/21/16,NaN,...,40.606701,f,40.78,43.08,43.08,1,81.42,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,17.250
1,0004351ebdd665e6ee664792efc4fd13,NaN,NaN,NaN,4060,0,0,08/06/09,06/21/16,NaN,...,44.311378,f,0.00,24.42,24.42,1,61.58,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200
2,0010bcc39e42b3c2131ed2ce55246e3c,fskfsbkdioupwobbsaoospkxaafmwobl,NaN,usilxuppasemubllopkaafesmlibmsdf,7440,0,1062,02/25/13,05/05/16,NaN,...,45.806878,f,213.76,38.58,38.58,2,81.61,3,lxidpiddsbxsbosboudacockeimpuepw,13.856
3,0010ee3855fdea87602a5b7aba8e42de,apdekpcbwosbxepsfxclislboipuxpop,NaN,lmkebamcaaclubfxadlmueccxoimlema,4199490,728810,456462,06/01/10,06/01/16,NaN,...,40.606701,t,1533.07,-2.80,-2.80,2,897.08,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,33.000
4,00114d74e963e47177db89bc70108537,sumdxiaiudmaioicexmiwuudlblkissm,NaN,ewpakwlliwisiwduibdlfmalxowmwpci,11272,0,0,03/02/10,03/02/16,NaN,...,44.311378,f,0.00,29.76,29.76,1,157.99,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200

In [13]:
training_hist_data = pd.read_csv("files/ml_case_training_hist_data.csv")
training_hist_data.head()

,id,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,0002203ffbb812588b632b9e628cc38d,01/01/15,0.126098,0.103975,0.070232,40.565969,24.339581,16.226389
1,0002203ffbb812588b632b9e628cc38d,02/01/15,0.126098,0.103975,0.070232,40.565969,24.339581,16.226389
2,0002203ffbb812588b632b9e628cc38d,03/01/15,0.128067,0.105842,0.073773,40.728885,24.437330,16.291555
3,0002203ffbb812588b632b9e628cc38d,04/01/15,0.128067,0.105842,0.073773,40.728885,24.437330,16.291555
4,0002203ffbb812588b632b9e628cc38d,05/01/15,0.128067,0.105842,0.073773,40.728885,24.437330,16.291555

In [14]:
training_output = pd.read_csv("files/ml_case_training_output.csv")
training_output.head()

                                 id  churn
0  0002203ffbb812588b632b9e628cc38d      0
1  0004351ebdd665e6ee664792efc4fd13      0
2  0010bcc39e42b3c2131ed2ce55246e3c      0
3  0010ee3855fdea87602a5b7aba8e42de      0
4  00114d74e963e47177db89bc70108537      0

In [15]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16096 entries, 0 to 16095
Data columns (total 32 columns):
id                          16096 non-null object
activity_new                6551 non-null object
campaign_disc_ele           0 non-null float64
channel_sales               11878 non-null object
cons_12m                    16096 non-null int64
cons_gas_12m                16096 non-null int64
cons_last_month             16096 non-null int64
date_activ                  16096 non-null object
date_end                    16094 non-null object
date_first_activ            3508 non-null object
date_modif_prod             15939 non-null object
date_renewal                16056 non-null object
forecast_base_bill_ele      3508 non-null float64
forecast_base_bill_year     3508 non-null float64
forecast_bill_12m           3508 non-null float64
forecast_cons               3508 non-null float64
forecast_cons_12m           16096 non-null float64
forecast_cons_year          16096 non-null int64
forecast_discount_energy    15970 non-null float64
forecast_meter_rent_12m     16096 non-null float64
forecast_price_energy_p1    15970 non-null float64
forecast_price_energy_p2    15970 non-null float64
forecast_price_pow_p1       15970 non-null float64
has_gas                     16096 non-null object
imp_cons                    16096 non-null float64
margin_gross_pow_ele        16083 non-null float64
margin_net_pow_ele          16083 non-null float64
nb_prod_act                 16096 non-null int64
net_margin                  16081 non-null float64
num_years_antig             16096 non-null int64
origin_up                   16009 non-null object
pow_max                     16093 non-null float64
dtypes: float64(16), int64(6), object(10)
memory usage: 3.9+ MB

In [16]:
training_data.describe()

,campaign_disc_ele,cons_12m,cons_gas_12m,cons_last_month,forecast_base_bill_ele,forecast_base_bill_year,forecast_bill_12m,forecast_cons,forecast_cons_12m,forecast_cons_year,...,forecast_price_energy_p1,forecast_price_energy_p2,forecast_price_pow_p1,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,pow_max
count,0.0,1.609600e+04,1.609600e+04,1.609600e+04,3508.000000,3508.000000,3508.000000,3508.000000,16096.000000,16096.000000,...,15970.000000,15970.000000,15970.000000,16096.000000,16083.000000,16083.000000,16096.000000,16081.000000,16096.000000,16093.000000
mean,NaN,1.948044e+05,3.191164e+04,1.946154e+04,335.843857,335.843857,3837.441866,206.845165,2370.555949,1907.347229,...,0.135901,0.052951,43.533496,196.123447,22.462276,21.460318,1.347788,217.987028,5.030629,20.604131
std,NaN,6.795151e+05,1.775885e+05,8.235676e+04,649.406000,649.406000,5425.744327,455.634288,4035.085664,5257.364759,...,0.026252,0.048617,5.212252,494.366979,23.700883,27.917349,1.459808,366.742030,1.676101,21.772421
min,NaN,-1.252760e+05,-3.037000e+03,-9.138600e+04,-364.940000,-364.940000,-2503.480000,0.000000,-16689.260000,-85627.000000,...,0.000000,0.000000,-0.122184,-9038.210000,-525.540000,-615.660000,1.000000,-4148.990000,1.000000,1.000000
25%,NaN,5.906250e+03,0.000000e+00,0.000000e+00,0.000000,0.000000,1158.175000,0.000000,513.230000,0.000000,...,0.115237,0.000000,40.606701,0.000000,11.960000,11.950000,1.000000,51.970000,4.000000,12.500000
50%,NaN,1.533250e+04,0.000000e+00,9.010000e+02,162.955000,162.955000,2187.230000,42.215000,1179.160000,378.000000,...,0.142881,0.086163,44.311378,44.465000,21.090000,20.970000,1.000000,119.680000,5.000000,13.856000
75%,NaN,5.022150e+04,0.000000e+00,4.127000e+03,396.185000,396.185000,4246.555000,228.117500,2692.077500,1994.250000,...,0.146348,0.098837,44.311378,218.090000,29.640000,29.640000,1.000000,275.810000,6.000000,19.800000
max,NaN,1.609711e+07,4.188440e+06,4.538720e+06,12566.080000,12566.080000,81122.630000,9682.890000,103801.930000,175375.000000,...,0.273963,0.195975,59.444710,15042.790000,374.640000,374.640000,32.000000,24570.650000,16.000000,500.000000