In [1]:
print("Power Co")

Power Co

In [2]:
FILES_PATH = "Files"

In [11]:
import pandas as pd
training_data = pd.read_csv("files/ml_case_training_data.csv")
training_data.head()

,id,activity_new,campaign_disc_ele,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_first_activ,...,forecast_price_pow_p1,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max
0,0002203ffbb812588b632b9e628cc38d,NaN,NaN,foosdfpfkusacimwkcsosbicdxkicaua,22034,0,3084,01/19/10,02/21/16,NaN,...,40.606701,f,40.78,43.08,43.08,1,81.42,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,17.250
1,0004351ebdd665e6ee664792efc4fd13,NaN,NaN,NaN,4060,0,0,08/06/09,06/21/16,NaN,...,44.311378,f,0.00,24.42,24.42,1,61.58,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200
2,0010bcc39e42b3c2131ed2ce55246e3c,fskfsbkdioupwobbsaoospkxaafmwobl,NaN,usilxuppasemubllopkaafesmlibmsdf,7440,0,1062,02/25/13,05/05/16,NaN,...,45.806878,f,213.76,38.58,38.58,2,81.61,3,lxidpiddsbxsbosboudacockeimpuepw,13.856
3,0010ee3855fdea87602a5b7aba8e42de,apdekpcbwosbxepsfxclislboipuxpop,NaN,lmkebamcaaclubfxadlmueccxoimlema,4199490,728810,456462,06/01/10,06/01/16,NaN,...,40.606701,t,1533.07,-2.80,-2.80,2,897.08,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,33.000
4,00114d74e963e47177db89bc70108537,sumdxiaiudmaioicexmiwuudlblkissm,NaN,ewpakwlliwisiwduibdlfmalxowmwpci,11272,0,0,03/02/10,03/02/16,NaN,...,44.311378,f,0.00,29.76,29.76,1,157.99,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200

In [13]:
training_hist_data = pd.read_csv("files/ml_case_training_hist_data.csv")
training_hist_data.head()

,id,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,0002203ffbb812588b632b9e628cc38d,01/01/15,0.126098,0.103975,0.070232,40.565969,24.339581,16.226389
1,0002203ffbb812588b632b9e628cc38d,02/01/15,0.126098,0.103975,0.070232,40.565969,24.339581,16.226389
2,0002203ffbb812588b632b9e628cc38d,03/01/15,0.128067,0.105842,0.073773,40.728885,24.437330,16.291555
3,0002203ffbb812588b632b9e628cc38d,04/01/15,0.128067,0.105842,0.073773,40.728885,24.437330,16.291555
4,0002203ffbb812588b632b9e628cc38d,05/01/15,0.128067,0.105842,0.073773,40.728885,24.437330,16.291555

In [14]:
training_output = pd.read_csv("files/ml_case_training_output.csv")
training_output.head()

                                 id  churn
0  0002203ffbb812588b632b9e628cc38d      0
1  0004351ebdd665e6ee664792efc4fd13      0
2  0010bcc39e42b3c2131ed2ce55246e3c      0
3  0010ee3855fdea87602a5b7aba8e42de      0
4  00114d74e963e47177db89bc70108537      0